<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Rife</th>
        <th>Temp</th>
        <th>Distance</th>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <th>Ammunition</th>
        <th>Position/ Support</th>
        <th>Rate of fire</th>
        <th>Mirage</th>
        <th colspan="2">Light</th>
        <th colspan="2">Wind</th>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td colspan="2">
            <label><input type="checkbox">Bright Sun
            </label><br>
            <label> <input type="checkbox">Partial Sun
            </label><br>
            <label> <input type="checkbox">overcast
            </label>
        </td>
        <td colspan="2">
            <label><input type="checkbox">Bright Sun
            </label><br>
            <label> <input type="checkbox">Partial Sun
            </label><br>
            <label> <input type="checkbox">overcast
            </label>
        </td>
    </tr>

</table>